.body-content {
    margin-top: 120px;
    padding: 0px 0;
}

.teacher-master-layout {
    display: flex;
}

.teacher-master-layout .menu-left {
    position: fixed;

}

.teacher-master-layout .body-right {
    position: relative;
    left: 300px;
}