.filter {
    display: flex;
    justify-content: space-between;
}

.filter .popular {
    width: 20%;
    height: 50px;
    border-radius: 7px;
    padding: 5px;
    border: 1px solid #8C8C8C;
    color: #474747
}

.filter .popular:focus {
    outline: none;
}