.wrapper {
  width: 100%;
  height: 130px;
  margin-top: 15px;
  display: flex;

  &:hover{
    cursor: pointer;
  }
}

.textDescription {
  width: 500px;
  margin-left: 10px;
  h4 {
    font-size: 18px;
    font-weight: 700;
    color: #444444;
    height: 44px;
    // white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  h6 {
    font-weight: 600;
    color: #6d6d6d;
  }
  h5 {
    font-weight: 800;
    color: #ebb907;
  }
}
