.card-pay {
    display: flex;

}

.card-pay .img-course {
    width: 20%;
    /* border: 1px solid black; */
    padding: 20px 10px;
}

.card-pay .img-course img {
    width: 100%;
    height: 90px;
    object-fit: cover;

}

.content-course {
    /* border: 1px solid black; */
    padding: 20px 10px;
    width: 50%;
}

.content-course-name {
    height: 47.9px;
}

.action-course {
    /* border: 1px solid black; */
    padding: 20px 30px;
    width: 30%;
}

.action-course .price {
    height: 47.9px;
    color: rgb(116, 116, 116);
}

.action-course .detele-cart {
    color: red
}

.action-course .payment-only {
    color: green
}

.action-course .detele-cart:hover,
.payment-only:hover {
    cursor: pointer;
}